@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDIOWaA.ttf) format('truetype');
}
.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-line {
  border: 1.5px solid #818181;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.not-draggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html {
  height: 100vh;
  scroll-behavior: smooth;
}
html body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(144deg, hsl(0, 0%, 15%) 0%, hsl(221.9, 3.26%, 15.48%) 8.2%, hsl(220.86, 11.11%, 16.77%) 16.1%, hsl(219.56, 20.36%, 18.57%) 23.7%, hsl(218.26, 29.22%, 20.65%) 31.1%, hsl(218, 37%, 23%) 38.1%, hsl(215.97, 43.98%, 25.22%) 45%, hsl(217.05, 37.11%, 22.89%) 38.1%, hsl(216, 44%, 25%) 45%, hsl(215.02, 49.97%, 27.58%) 51.6%, hsl(214.18, 55.24%, 29.96%) 58.1%, hsl(213.44, 59.93%, 32.34%) 64.4%, hsl(212.76, 64.16%, 34.71%) 70.5%, hsl(212.15, 68.06%, 37.04%) 76.6%, hsl(211.58, 71.7%, 39.35%) 82.5%, hsl(211.04, 75.18%, 41.6%) 88.4%, hsl(210.52, 78.59%, 43.79%) 94.2%, hsl(210, 82.05%, 45.88%) 100%);
  /*** Container User ***/
  /** Border-radius **/
}
html body .icon-image {
  position: fixed;
  width: 150px;
  left: 30px;
  top: 20px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html body .container-home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  height: 100vh;
}
html body .container-home .container-home-design {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  padding: 50px;
  width: 650px;
}
html body .container-home .container-home-design h1 {
  margin: 50px 0;
  width: 80%;
  user-select: none;
  transition: opacity 0.25s ease-in;
}
html body .container-home .container-home-design h1 span {
  font-weight: 900;
  font-size: 1.2em;
}
html body .container-home .container-home-design h2 {
  transition: opacity 0.25s ease-in;
}
html body .container-home .container-home-design .container-home-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-10%);
  display: flex;
  z-index: 2;
}
html body .container-home .container-home-design .container-home-design-img {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 400px;
  z-index: 2;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html body .container-home .container-home-design .stop {
  animation-play-state: paused;
}
html body .container-home .container-home-design .run {
  animation-play-state: running;
}
html body .container-home .container-design-svg {
  grid-area: 1 / 2 / 2 / 3;
  height: 100vh;
  overflow: hidden;
}
html body .container-home .container-design-svg #blobSvg {
  position: relative;
  display: inline-block;
  bottom: 400px;
  right: 100px;
  width: 250%;
}
html body .container-home .container-design-svg .container-image-background {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  width: 100%;
  max-width: 550px;
  overflow: hidden;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html body .container-home .display-open-account {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  transition: opacity 0.5s ease-in;
}
html body .container-home .display-open-account .display-open-account-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 700px;
  width: 500px;
  border-radius: 12px;
  background-color: #bfc0c03e;
}
html body .container-home .display-open-account .display-open-account-flex .display-open-account-informations-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .container-home .display-open-account .display-open-account-flex .amount-informations-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 0 10px;
}
html body .container-home .display-open-account .display-open-account-flex .amount-informations-flex .amount-informations-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html body .container-home .display-open-account .display-open-account-flex .amount-informations-flex #informations-overdraft {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
html body .container-home .display-open-account .display-open-account-flex #container-home-fieldset {
  text-align: left;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
html body .container-home .display-open-account .display-open-account-flex #container-home-fieldset .input-radio {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #3f5083;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
html body .container-home .display-open-account .display-open-account-flex #container-home-fieldset .input-radio:checked {
  border: 4px solid #cecece;
}
html body .container-home .display-open-account .display-open-account-flex #container-home-fieldset #amount-informations,
html body .container-home .display-open-account .display-open-account-flex #container-home-fieldset #container-home-fieldset {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
html body .container-home .display-open-account .display-open-account-flex .amount-informations-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #e20606;
  height: 100px;
  text-align: center;
}
html body .container-home .display-open-account .display-open-account-flex .amount-informations-error p {
  padding: 0 50px;
}
html body .container-operations {
  position: relative;
  grid-area: 1 / 2 / 4 / 3;
}
html body .container-operations .background-word {
  position: absolute;
  margin: 0;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 15vw;
  pointer-events: none;
}
html body .container-operations #container-operations-withdraw-informations {
  display: none;
}
html body .amount-informations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}
html body .amount-informations-flex {
  margin-bottom: 50px;
}
html body .amount-flex {
  margin-bottom: 50px;
}
html body .amount-informations-title {
  margin: 15px 0;
}
html body .amount-informations-input {
  height: 30px;
  width: 200px;
  padding: 10px;
  border: none;
}
html body .amount-informations-input:focus {
  outline: none;
}
html body .svg-informations {
  width: 70px;
  height: 90px;
}
html body #svg-informations-none {
  visibility: hidden;
}
html body #container-operations-error {
  height: 70px;
}
html body .amount-informations-button {
  position: relative;
}
html body .amount-informations-switch {
  cursor: pointer;
  position: absolute;
  left: 5vw;
  top: 45vh;
}
html body .amount-informations-arrows {
  width: 50px;
}
html body .button {
  display: inline-flex;
  height: 90px;
  width: 240px;
  border: 2px solid #BFC0C0;
  margin: 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
html body a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}
html body #button-overdraft,
html body #button-withdraw,
html body #button-deposit,
html body #button-open-account,
html body #button-ask-overdraft,
html body #button-connect-account {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
html body #button-overdraft a,
html body #button-withdraw a,
html body #button-deposit a,
html body #button-open-account a,
html body #button-ask-overdraft a,
html body #button-connect-account a {
  position: relative;
  transition: all 0.45s ease-Out;
}
html body .underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -250px;
  background: #BFC0C0;
  position: absolute;
  transition: all 0.3s ease-Out;
  bottom: 0;
}
html body #button-overdraft:hover .underline,
html body #button-withdraw:hover .underline,
html body #button-deposit:hover .underline,
html body #button-open-account:hover .underline,
html body #button-ask-overdraft:hover .underline,
html body #button-connect-account:hover .underline {
  left: 0;
}
html body #amount-overdraft,
html body #amount-agios {
  height: 550px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
html body .container-user {
  border: none;
  display: none;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  text-align: center;
}
html body .container-user .container-users {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  grid-area: 1 / 1 / 3 / 2;
}
html body .container-user .container-users .container-user-informations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff10;
  padding: 10px 30px 20px 30px;
  width: 375px;
  height: 100%;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  text-align: left;
}
html body .container-user .container-users .container-user-informations #container-user-logout {
  cursor: pointer;
  position: absolute;
  width: 30px;
  right: 20px;
  top: 20px;
}
html body .container-user .container-users .container-user-informations .container-user-informations-title h2 {
  font-size: 1.5em;
  margin: 10px 0 5px 0;
}
html body .container-user .container-users .container-user-informations .container-user-informations-title span {
  font-size: 0.9em;
}
html body .container-user .container-users .container-user-informations .container-user-informations-title .notifications-line {
  border: 1.5px solid #818181;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
html body .container-user .container-users .container-user-informations .container-user-informations-infos {
  display: flex;
  justify-content: space-between;
}
html body .container-user .container-users .container-user-informations .container-user-informations-infos .user-info-label {
  font-size: 1.1em;
}
html body .container-user .container-users .container-user-informations .container-user-informations-infos .user-info-p {
  font-size: 1.4em;
  font-weight: 900;
  margin: 0;
}
html body .container-user .container-users .container-user-informations #info-1 {
  grid-area: 1 / 1 / 2 / 2;
}
html body .container-user .container-users .container-user-informations #info-2 {
  grid-area: 1 / 2 / 2 / 3;
}
html body .container-user .container-users .container-user-informations #info-3 {
  grid-area: 2 / 1 / 3 / 2;
}
html body .container-user .container-users .container-user-informations #info-4 {
  grid-area: 2 / 2 / 3 / 3;
  color: #c41111;
  font-size: 0em;
  transition: all 0.25s ease-out;
}
html body #amount-informations-ask-overdraft-error,
html body #amount-informations-agios-error {
  height: 70px;
}
html body .container-button {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
html body .container-button .container-button-custom {
  width: 100px;
  height: 50px;
  padding: 10px;
  border: 2px solid #cecece;
  background-color: #cecece25;
  color: #cecece;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
html body .container-button .container-button-custom:hover {
  transform: scale(1.1);
}
html body .container-button #button-custom-agios {
  display: none;
}
html body .notifications {
  position: fixed;
  height: auto;
  width: 250px;
  bottom: -23px;
  right: 8px;
  padding: 10px 20px;
  background-color: rgba(41, 50, 66, 0.5);
  text-align: left;
  cursor: pointer;
}
html body .notifications h3 {
  font-size: 1.3em;
  margin: 5px 0 10px 0;
}
html body .notifications .notifications-line {
  border: 1.5px solid #818181;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
html body .notifications #container-notifications {
  max-height: 0px;
  overflow-y: scroll;
  transition: all 0.25s ease-in-out;
}
html body .notifications #container-notifications::-webkit-scrollbar {
  display: none;
}
html body .notifications #container-notifications #p-notifications {
  margin-top: 0;
}
html body .notifications .notifications-bell {
  display: none;
}
html body .amount-informations-p {
  color: red;
  width: 400px;
}
html body .container,
html body .amount-informations-input,
html body #container-user-informations,
html body .notifications,
html body .container-button-custom {
  border-radius: 12px;
}
@media screen and (max-width: 1200px) {
  html body html,
  html body body {
    overflow-x: 0 !important;
  }
  html body body {
    margin: 0;
  }
  html body .icon-image {
    width: 100px;
    z-index: 2;
  }
  html body #container-home {
    display: flex;
    flex-direction: column;
  }
  html body .container-home-design {
    width: 90% !important;
    padding: 20px !important;
    height: 100vh !important;
  }
  html body #container-home-title {
    width: 100%;
    font-size: 1.2em;
    z-index: 2;
  }
  html body #container-home-title-h2 {
    font-size: 1em;
    z-index: 2;
  }
  html body #design-img {
    width: 180px;
  }
  html body .container-image-background {
    width: 300px !important;
  }
  html body #container-home-button {
    position: relative;
    top: 50px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body .container-design-svg {
    overflow: initial !important;
    position: relative;
    height: 0 !important;
  }
  html body #blobSvg {
    display: none !important;
  }
  html body #informations-name {
    margin-bottom: 10px;
  }
  html body #display-open-account-flex {
    height: 85vh;
    width: 80vw;
    z-index: 3;
    padding: 10px;
  }
  html body #amount-informations-flex {
    flex-direction: column;
  }
  html body #amount-informations {
    padding: 0 10px;
  }
  html body .amount-informations {
    display: block;
    height: 100%;
  }
  html body .amount-informations-div {
    text-align: inherit;
  }
  html body .amount-flex {
    margin: 10px 0;
  }
  html body .amount-informations-flex {
    margin: 10px 0;
    flex-direction: column;
  }
  html body .amount-informations-title {
    margin: 0 0 5px 0;
    font-size: 0.9em;
  }
  html body .amount-informations-p {
    font-size: 0.9em;
  }
  html body #amount-informations-p {
    margin-top: 20px;
    width: auto;
    padding: 0;
  }
  html body #container-operations-error,
  html body #amount-informations-ask-overdraft-error,
  html body #amount-informations-agios-error {
    height: 40px;
  }
  html body .svg-informations {
    height: 40px;
  }
  html body #amount-overdraft,
  html body #amount-agios {
    height: 100%;
  }
  html body #container-user {
    justify-content: space-around;
  }
  html body .container-users {
    height: 400px;
  }
  html body #user-notifications-line {
    border: 1px solid #818181;
  }
  html body #container-user-informations {
    width: 70vw;
  }
  html body .container-button {
    gap: 20px;
    margin-top: 20px;
  }
  html body .button {
    margin: 20px 0;
  }
  html body .background-word {
    display: none;
  }
  html body .notifications-bell {
    display: block;
    width: 40px;
    height: auto;
    object-fit: cover;
  }
  html body .notifications {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 40px;
    bottom: 10px;
    right: 10px;
  }
  html body #notifications-title {
    font-size: 1.2em;
    margin: 0;
  }
  html body #notifications-title,
  html body #notifications-line {
    display: none;
  }
  html body #p-notifications {
    font-size: 1.15em;
    margin-bottom: 0;
  }
}
