html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cecece;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(144deg,
            hsl(0, 0%, 15%) 0%,
            hsl(221.9, 3.26%, 15.48%) 8.2%,
            hsl(220.86, 11.11%, 16.77%) 16.1%,
            hsl(219.56, 20.36%, 18.57%) 23.7%,
            hsl(218.26, 29.22%, 20.65%) 31.1%,
            hsl(218, 37%, 23%) 38.1%,
            hsl(215.97, 43.98%, 25.22%) 45%,
            hsl(217.05, 37.11%, 22.89%) 38.1%,
            hsl(216, 44%, 25%) 45%,
            hsl(215.02, 49.97%, 27.58%) 51.6%,
            hsl(214.18, 55.24%, 29.96%) 58.1%,
            hsl(213.44, 59.93%, 32.34%) 64.4%,
            hsl(212.76, 64.16%, 34.71%) 70.5%,
            hsl(212.15, 68.06%, 37.04%) 76.6%,
            hsl(211.58, 71.7%, 39.35%) 82.5%,
            hsl(211.04, 75.18%, 41.6%) 88.4%,
            hsl(210.52, 78.59%, 43.79%) 94.2%,
            hsl(210, 82.05%, 45.88%) 100%);
}

.icon-image {
    position: fixed;
    width: 150px;
    left: 30px;
    top: 20px;
}

.container-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#button-open-account {
    opacity: 1;
    transition: 0.2s all ease-out;
}

#display-open-account {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-home-fieldset {
    text-align: left;
    display: flex;
    width: 200px;
    padding: 10px;
    justify-content: space-around;
    opacity: 0;
}

.input-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #3f5083;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.input-radio:checked {
    border: 4px solid #cecece;
}

#amount-informations,
#container-home-fieldset {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.amount-informations-div {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.container-user {
    border: none;
    display: none;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 75vw;
    height: 100vh;
    text-align: center;
}

.container-operations {
    position: relative;
    grid-area: 1 / 2 / 4 / 3;
}

.background-word {
    position: absolute;
    margin: 0;
    opacity: 0.1;
    top: 140px;
    font-size: 15vw;
    pointer-events: none;
}

#container-operations-withdraw-informations {
    display: none;
}

.amount-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.amount-flex {
    margin-bottom: 50px;
}

.amount-informations-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.amount-informations-title {
    margin: 15px 0;
}

.amount-informations-input {
    height: 30px;
    width: 200px;
    padding: 10px;
    border: none;
}

.amount-informations-input:focus {
    outline: none;
}

.svg-informations {
    width: 70px;
    height: 90px;
}

#svg-informations-none {
    visibility: hidden;
}

.amount-informations-error {
    width: 100%;
    color: rgb(226, 6, 6);
    height: 100px;
}

#container-operations-error {
    height: 70px;
}

.amount-informations-button {
    position: relative;
}

.amount-informations-switch {
    cursor: pointer;
    position: absolute;
    left: 5vw;
    top: 45vh;
}

.amount-informations-arrows {
    width: 50px;
}

.button {
    display: inline-flex;
    height: 90px;
    width: 250px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* #button-withdraw,
#withdraw-informations-div {
    display: none;
} */

a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}

#button-overdraft,
#button-withdraw,
#button-deposit,
#button-open-account,
#button-ask-overdraft {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-overdraft a,
#button-withdraw a,
#button-deposit a,
#button-open-account a,
#button-ask-overdraft a {
    position: relative;
    transition: all .45s ease-Out;
}

.underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -250px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-overdraft:hover .underline,
#button-withdraw:hover .underline,
#button-deposit:hover .underline,
#button-open-account:hover .underline,
#button-ask-overdraft:hover .underline {
    left: 0;
}

#amount-overdraft,
#amount-agios {
    height: 550px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*** Container User ***/

.container-users {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    grid-area: 1 / 1 / 3 / 2;
}

#container-user-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff10;
    padding: 10px 30px 20px 30px;
    width: 375px;
    height: 100%;
    opacity: 0;
    transition: all .7s ease-in-out;
    text-align: left;
}

#container-user-logout {
    cursor: pointer;
    position: absolute;
    width: 30px;
    right: 20px;
    top: 20px;
}

h1 {
    font-size: 1.7em;
    margin: 10px 0 5px 0;
}

#info-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#info-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#info-3 {

    grid-area: 2 / 1 / 3 / 2;
}

#info-4 {
    grid-area: 2 / 2 / 3 / 3;
    color: rgb(196, 17, 17);
    font-size: 0em;
    transition: all .25s ease-out;
}

.container-user-informations-title>span {
    font-size: 0.9em;
}

.container-user-informations-infos {
    display: flex;
    justify-content: space-between;
}

.user-info-label {
    font-size: 1.1em;
}

.user-info-p {
    font-size: 1.4em;
    font-weight: 900;
    margin: 0;
}

#amount-informations-ask-overdraft-error,
#amount-informations-agios-error {
    height: 70px;
}

.container-button {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.container-button-custom {
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 2px solid #cecece;
    background-color: #cecece25;
    color: #cecece;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.container-button-custom:hover {
    transform: scale(1.1);
}

#button-custom-agios {
    display: none;
}

.notifications {
    position: fixed;
    height: auto;
    width: 250px;
    bottom: -23px;
    right: 8px;
    padding: 10px 20px;
    background-color: rgba(41, 50, 66, 0.5);
    text-align: left;
    cursor: pointer;
}

#container-notifications {
    max-height: 0px;
    overflow-y: scroll;
    transition: all .25s ease-in-out;
}

#container-notifications::-webkit-scrollbar {
    display: none;
}

#notifications-title {
    font-size: 1.3em;
    margin: 5px 0 10px 0;
}

.notifications-line {
    border: 1.5px solid #818181;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#p-notifications {
    margin-top: 0;
}

.notifications-bell {
    display: none;
}

/** Border-radius **/
.container,
.amount-informations-input,
#container-user-informations,
.notifications,
.container-button-custom {
    border-radius: 12px;
}

@media screen and (max-width : 1200px) {
    body {
        margin: 0;
    }

    .icon-image {
        width: 100px;
    }

    h1 {
        font-size: 1.8em;
        margin: 20px 0;
    }

    #amount-informations {
        padding: 0 10px;
    }

    .amount-informations {
        display: block;
        height: 100%;
    }

    .amount-informations-div {
        text-align: inherit;
    }

    .amount-flex {
        margin: 20px 0;
    }

    .amount-informations-flex {
        margin: 20px 0;
        flex-direction: column;
    }

    .amount-informations-title {
        margin: 5px 0;
    }

    #amount-informations-p {
        margin-top: 20px;
    }

    #amount-overdraft,
    #amount-agios {
        height: 100%;
    }

    #container-user {
        justify-content: space-around;
    }

    .container-users {
        height: 400px;
    }

    #user-notifications-line {
        border: 1px solid #818181;
    }

    #container-user-informations {
        width: 90%;
    }

    .container-button {
        gap: 20px;
        margin-top: 20px;
    }

    .button {
        margin: 20px 0;
    }

    .background-word {
        display: none;
    }

    .notifications-bell {
        display: block;
        width: 40px;
        height: auto;
        object-fit: cover;
    }

    .notifications {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 25px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    #notifications-title,
    #notifications-line {
        display: none;
        font-size: 1.4em;
    }

    #p-notifications {
        font-size: 1.15em;
        margin-bottom: 0;
    }
}