html,
body {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cecece;
    background: linear-gradient(144deg,
            hsl(0, 0%, 15%) 0%,
            hsl(221.9, 3.26%, 15.48%) 8.2%,
            hsl(220.86, 11.11%, 16.77%) 16.1%,
            hsl(219.56, 20.36%, 18.57%) 23.7%,
            hsl(218.26, 29.22%, 20.65%) 31.1%,
            hsl(218, 37%, 23%) 38.1%,
            hsl(215.97, 43.98%, 25.22%) 45%,
            hsl(217.05, 37.11%, 22.89%) 38.1%,
            hsl(216, 44%, 25%) 45%,
            hsl(215.02, 49.97%, 27.58%) 51.6%,
            hsl(214.18, 55.24%, 29.96%) 58.1%,
            hsl(213.44, 59.93%, 32.34%) 64.4%,
            hsl(212.76, 64.16%, 34.71%) 70.5%,
            hsl(212.15, 68.06%, 37.04%) 76.6%,
            hsl(211.58, 71.7%, 39.35%) 82.5%,
            hsl(211.04, 75.18%, 41.6%) 88.4%,
            hsl(210.52, 78.59%, 43.79%) 94.2%,
            hsl(210, 82.05%, 45.88%) 100%);
}

h1 {
    font-size: 2em;
    margin-bottom: 50px;
}

.container {
    border: none;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.amount-informations {
    display: flex;
    gap: 100px;
}

.amount-informations-div {
    margin-bottom: 20px;
}

.amount-informations-title {
    margin: 10px 0;
}

.amount-informations-input {
    height: 30px;
    width: 200px;
    padding: 10px;
    border: none;
}

.amount-informations-error {
    display: flex;
    width: 450px;
    margin: 0 30px 40px 30px;
    color: rgb(226, 6, 6);
}

.button {
    display: inline-flex;
    height: 90px;
    width: 250px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}

#button-overdraft,
#button-withdraw {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-overdraft a,
#button-withdraw a {
    position: relative;
    transition: all .45s ease-Out;
}

.underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -250px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-overdraft:hover .underline,
#button-withdraw:hover .underline {
    left: 0;
}

#withdraw-informations {
    display: none;
}

#user-informations {
    background-color: #ffffff10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 0px;
    margin-top: 50px;
    width: 75%;
    padding: 30px 20px;
    opacity: 0;
    transition: all .7s ease-in-out;
}

#info-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#info-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#info-3 {

    grid-area: 2 / 1 / 3 / 2;
}

#info-4 {
    grid-area: 2 / 2 / 3 / 3;
    color: rgb(196, 17, 17);
    font-size: 0em;
    transition: all .25s ease-out;
}

.user-info-label {
    font-size: 1.0em;
}

.user-info-p {
    font-size: 1.2em;
    font-weight: 900;
}

.notifications {
    position: fixed;
    height: auto;
    width: 250px;
    bottom: -25px;
    right: 8px;
    padding: 10px 20px;
    background-color: rgba(41, 50, 66, 0.5);
    text-align: left;
    cursor: pointer;
}

#container-notifications {
    max-height: 0px;
    overflow-y: scroll;
    transition: all .25s ease-in-out;
}

#container-notifications::-webkit-scrollbar {
    display: none;
}

#notifications-title {
    font-size: 1.3em;
    margin: 5px 0 10px 0;
}

#notifications-line {
    border: 1.5px solid rgb(129, 129, 129);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.notifications-bell {
    display: none;
}

/** Border-radius **/
.container,
.amount-informations-input,
#user-informations,
.notifications {
    border-radius: 12px;
}

@media screen and (max-width : 1200px) {
    h1 {
        font-size: 1.8em;
        margin: 20px 0;
    }

    .amount-informations {
        display: block;
    }

    .amount-informations-div {
        margin-bottom: 40px;
        text-align: inherit;
    }

    #user-informations {
        margin-top: 0;
        width: 50%;
        grid-column-gap: 0px;
    }

    .button {
        margin-top: 0;
    }

    .notifications-bell {
        display: block;
        width: 40px;
        height: auto;
        object-fit: cover;
    }

    .notifications {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 25px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    #notifications-title,
    #notifications-line {
        display: none;
        font-size: 1.4em;
    }

    #p-notifications {
        font-size: 1.15em;
        margin-bottom: 0;
    }

    /* border-radius: 12px;
    background-color: rgba(50, 70, 99, 0.651);
    height: 350px;
    width: 250px;
    bottom: -50px;
    right: 5px;
    padding: 20px; */
}

#notifications-title {
    margin: 0 0 5px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(117, 117, 117, 0.651);
}